.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  display: none;
  transition: .2s;
  z-index: 1;
}

.hamburger_open {
  justify-content: center;
  z-index: 2;
}

.hamburger-line {
  background-color: #999;
  height: 5px;
  width: 50px;
  transition: 0.2s;
}

.hamburger-line_crossline1 {
  transform: rotate(45deg);
  margin-top: 10px;
}

.hamburger-line_crossline2 {
  transform: rotate(-45deg);
  margin-top: -10px;
}

@media only screen and (max-width: 500px) {
  .hamburger {
    display: flex;
  }
}
