.align_center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.inline {
  display: inline;
}

.title {
  margin-top: 30px;
}

.section {
  padding-top: 30px;
}

.direction_column {
  flex-direction: column;
}

.flex-justify_center {
  justify-content: center;
}